
header {
  font-family: OpenSans;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
  background-color:rgb(1, 20, 82);
  color: rgb(236, 236, 236);
  border-radius: 6px;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
li {list-style-type: none;}
main {
    align-items: center;
}
body { 
      font-family: BonaNova, OpenSans;
      background-color: white;
      margin: 1em auto;
      font-size: 16px;
      max-width: 500px;
}
footer {
      background-color:rgb(1, 20, 82);
      color: seashell;
      border-radius: 6px;
      padding: 10px;
      font-family: BonaNova, OpenSans;
      text-align: center;
}
