header {
    color: white;
    background-color:#00476e;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white    }

main { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    background-color: white;
    color: white;
    margin-top: 10px;
}
nav {
	max-width: 760px;
    }
main section   {
    background-color: #005f90;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.menu{align-items: center;}

.navigation li:first-child {
        display: block;
    }

.navigation li {
    display: none;
    }

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
	color: white;
	background-color: #e48000;
}

.responsive li {
	display: block;
}

.responsive a.menu::before {
	content: "❌ ";
}

.join {
    display: none;
}

.top-footer {
    text-align: center;
    color: white;
    background-color: #00476e;
    padding: 1em;
    margin-bottom: 1em;
}
.bottom-footer {
    text-align: center;
    background-color: #005f90;
    color: white;
    padding: 1em;
}
#currentDate {
    text-align: center;
}

#spotlight3 {
    display: none;
}
.hero {
    margin: 10px auto;
    position: relative;
}
.hero h2 {
    position: absolute;
    background-color:  #005f90}
.hero button {
    position: absolute;
    background-color: #e48000;
    color: white;
    bottom:20px;
    right:20px;
    width:100px;
    height:40px;
   
}

