:root {
	--back1: #00476e;
  --back2: #005f90;
  --dark: hsla(0,0%,10%,1);
	--light: rgb(248, 248, 248);
	--border: #e48000;
	--borderlight: rgb(255, 255, 255);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}
main h2{
    color: var(--borderlight);
}
main p {
    color: var(--borderlight);
}
main h3 {
        color: var(--borderlight);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color:#00476e;
    text-align: center;
}

#banner {
    background-color: #e48000;
    padding: 10px;
}
div#banner:empty {
    display: none;
  }

.head {
    max-width: 1200px;
    margin: auto;
}


.menu a {
    text-decoration: none;
    color: white    }

main.index { 
    display: grid;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr;
    padding: 1em;
    background-color: white;
    color: rgb(241, 241, 241);
    margin-top: 10px;
}

main.index section  {
    background-color: #005f90;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.menu{align-items: center;}

.navigation{
    padding: 0
}

.navigation li:first-child {
        display: block;
    }

.navigation li {
    display: none;
    }

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.3em;
}


.navigation a:hover {
	color: white;
	background-color: #e48000;
}

.responsive li {
	display: block;
}
main.index section h3 {
    background-color: var(--back1);
    padding: 10px;
}
main.index section.newRelease p {
    margin-top: 20px;
    padding: 20px;
}
main.index section p {
    font-size: 1.1em;
}

main.index section.join {
    display: none;
}
footer p {
    font-size: 1.1em;
}

.top-footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #00476e;
}
.bottom-footer{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #005f90;
}

#currentDate {
    text-align: center;
}

#spotlight3 {
    display: none;
}
.hero {
    margin: 10px auto;
    position: relative;
}
.hero h2 { 
    position: absolute;
    padding: 10px;
    background-color:  #005f90}
.hero button {
    position: absolute;
    background-color: #e48000;
    color: white;
    bottom:20px;
    right:20px;
    width:200px;
    height:40px;
    
}
main.index button {
    border-style: solid;
    cursor: pointer;
    font-size: 1.2em;
    border: var(--borderlight);
    border-style: solid;
    border-width: thin;
    font-weight: bold;
}
main.index button:hover {
    background-color: var(--back1);
}

.hero img {
    width: 100%;
    height: auto;
}
.newRelease h3{
    text-align: center;
}
.newRelease p{
    padding: 5px;
    margin: auto;
}
.spotlight h3 {
    text-align: center;
}
.spotlights {
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    background-color:var(--back1);
    margin-top: 10px;
}
div.spots {
    text-align: center;

    margin-top: 20px;
}
.spotlight img {
    text-align: center;
    width: 45%;
    background-color: var(--borderlight);
    padding: 5px;
}
.spotlight a{
    text-decoration: none;
    color: var(--border);
}
.spotlight {
    padding: 10px
}
.event {
    text-align: center;
}
.event p {
    padding: 15px
}
#social1{
    margin-right: 5px
}
#socialb{
    margin: 5px;
}
.weather{
    padding: 5px;
    text-align: center;
}

/* DISCOVER */
.discover h2 {
    color: var(--borderlight);
    background-color: var(--back2);
    padding: 10px;
}
.discover img:hover {
    box-shadow: 0 0 50px white;
}
#discover { 
    text-align: center;
}
.discover img[data-src] {
    filter: blur(.2em);
    width: 100%;
    height: auto;
}

.discover img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: auto;
}
.discover h3 {
    text-align: center;
    padding: 5px;
    background-color: #00476e;
}
.discover div p {
    padding: 5px;
    background-color: #00476e;
    color: white;
}
.discover div {
    margin: 30px;
    padding: 30px;
    background-color: #005f90;
}
.discover {
    margin: auto;
    display: block;
    max-width: 710px;
}
.discover p {
    color: black;
}




/* JOINS */
main.joins {
display: block;

}

form {
    margin: auto;
    max-width: 500px;
}

form fieldset {
    margin: auto;
    border: 3px solid var(--dark);
    border-radius: 10px;
    max-width: 25em;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 4px 4px var(--back2);

}

form legend {
    color: var(--light);
    padding: 5px;
    background-color: var(--back2);
    border-radius: 10px;
}

form label {
    display: block;
    padding: 1em;
    color: var(--dark);
    font-size: .8em;
}
.radio {
    cursor: pointer;

}
form label.pi input, form label.pi select {
    display: block;
    border: solid 1px var(--back1);
    padding: 3px;
    width: 100%;
    max-width: 25em;
    background-color: var(--borderlight);
}


form input.submit {
    background-color: var(--border);
    color: white;
    width:200px;
    height:40px;
    margin-left: 100px;
    margin-bottom: 15px;

}
form p.mpp:hover {
    box-shadow: 5px 5px var(--border);
}


form input.submit:hover {
    background-color: var(--back2);
    cursor: pointer;
}

form label.pi input:required {
    border: solid 2px var(--border) ;
}
form label span.level {
    font-size: 1.5em;
    font-weight: bold;
}
input[type='radio']:after {
    width: 14px;
    height: 14px;
    border-radius: 14px;
    top: -2px;
    left: -1px;
    background-color: var(--borderlight);
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    background-color: var(--border);
}

form label span.cost {
    font-size: 1.8em;
    background-color: var(--back1);
    padding: 5px;
    margin: 25px;
    color: var(--light);
    border-radius: 10px;
}
form label textarea {
    display: flex;
}
.level {
    padding: 5px;
}
form p.mpp {
    font-size: 20px;
    padding: 10px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    color: var(--dark);
}
main.joins h2 {
    background-color: var(--back2);
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px;

}
main.thankyou {
    max-width: 500px;
    display: block;
    padding: 0 200px;
    margin: auto;
    }
main.thankyou h2 {
    
    padding: 5px;
    text-align: center;
    background-color: var(--back1);
}
main.thankyou p {
    padding: 2em;
    background-color: #005f90;
    font-size: 20px;
    border-radius: 5px;
}
fieldset.hidden{
    display: none;
    border: none;
}
#time {
    display:none;
}


/* Directory */

main.directory{
    display: block;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
 h2.topic{
    color: var(--borderlight);
    background-color: var(--back2);
    text-align: center;
    padding: 10px;
}



main.directory section img{
    max-width: 90%;
    background-color: var(--light);
    padding: 10px;
}
 main.directory div{
    margin: auto;
} 
main.directory button:hover{
    cursor: pointer;
    background-color: var(--border);
}

.card-view section {
    text-align: center ;
    padding: 10px;
    background-color:var(--back2);
    margin: 10px;
    padding-top: 25px;
}
.list-view section {
    text-align: center;
    padding: 5px;
    background-color: var(--back1);
}
.list-view h2 {
    margin: 0px;
    padding: 5px;
}
.list-view p {
    margin: 0px;
    padding: 5px
}

.card-view section:hover{
    border: 2px;
    transform: scale(1.0);
    margin:0px
}
.directory-btn {
    text-align: center;
}
#directory-list {
    padding: 5px;
    margin: 10px;
}
#directory-card {
    padding: 5px;
    margin: 10px;
}
.list-view img, .card-view>section h3{
    display: none;

}

.list-view section:nth-child(even) {
	background-color: var(--back2);
}
/* Contact */
main.contact {
    display: block;
    
    }
    form {
        margin: auto;
        max-width: 500px;
    }
    
    form fieldset {
        margin: auto;
        border: 3px solid var(--dark);
        border-radius: 10px;
        max-width: 25em;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 4px 4px var(--back2);
    
    }
    
    form legend {
        color: var(--light);
        padding: 5px;
        background-color: var(--back2);
        border-radius: 10px;
    }
    
    form label {
        display: block;
        padding: 1em;
        color: var(--dark);
        font-size: .8em;
    }
    
    form label.contact input, form label.contact select {
        display: block;
        border: solid 1px var(--back1);
        padding: 3px;
        width: 100%;
        max-width: 25em;
        background-color: var(--borderlight);
    }
    
    

    
    form label.pi input:required {
        border: solid 2px var(--border) ;
    }

    input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 14px;
        top: -2px;
        left: -1px;
        background-color: var(--borderlight);
        content: '';
        display: inline-block;
        visibility: visible;
    }
    
    input[type='radio']:checked:after {
        background-color: var(--border);
    }

    form label textarea {
        display: flex;}
    main.contact h2 {
        background-color: var(--back2);
        border-radius: 10px;
        max-width: 500px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        padding: 10px;
    
    }










































