header {
    color: white;
    background-color:#00476e;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white    }

main { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    background-color: white;
    color: white;
    margin-top: 10px;
}
nav {
	max-width: 760px;
    }
main section   {
    background-color: #005f90;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.menu{align-items: center;}

.navigation{
    padding: 0
}

.navigation li:first-child {
        display: block;
    }

.navigation li {
    display: none;
    }

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}


.navigation a:hover {
	color: white;
	background-color: #e48000;
}

.responsive li {
	display: block;
}


.join {
    display: none;
}

.top-footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #00476e;
}
.bottom-footer{
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #005f90;
}

#currentDate {
    text-align: center;
}

#spotlight3 {
    display: none;
}
.hero {
    margin: 10px auto;
    position: relative;
}
.hero h2 { 
    position: absolute;
    padding: 10px;
    background-color:  #005f90}
.hero button {
    position: absolute;
    background-color: #e48000;
    color: white;
    bottom:20px;
    right:20px;
    width:200px;
    height:40px;
   
}
.hero img {
    width: 100%;
    height: auto;
}
.newRelease h3{
    text-align: center;
}
.newRelease p{
    margin: auto;
}
.spotlight h3{
    background-color: #00476e;
    color: white;
    padding: 5px;
}
.spotlight p {
    padding: 5px;
}

.event {
    text-align: center;
    padding: 5px;
}
#social1{
    margin-right: 10px;
}
#socail2{
    margin: 10px
}
.weather{
    
    text-align: center;
}
#discover { 
    text-align: center;
}
.discover img[data-src] {
    filter: blur(.2em);
    width: 100%;
    height: auto;
}

.discover img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
    height: auto;
}
.discover h3 {
    text-align: center;
    padding: 5px;
    background-color: #00476e;
}
.discover div p {
    padding: 5px;
    background-color: #00476e;
    color: white;
}
.discover div {
    margin: 30px;
    padding: 30px;
    background-color: #005f90;
}
.discover {
    margin: auto;
    display: block;
    padding: 0 200px;
    max-width: 710px;
}
.discover p {
    color: black;
}