@media only screen and (min-width: 800px){
main.index {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    max-width: 1000px;
    margin: auto;
}
header { 
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
h1 {
    margin-right: 175px;
}

.social {
    padding-left: 10px;
    float: right;
}


#currentDate {
 margin-top: 1em;
 grid-row: 2;
}
.hero {
    grid-column: 2;
    grid-row: 1/3;
}
.event {
    grid-column: 1;
    grid-row: 1
}
.weather{
    grid-column: 1;
    grid-row: 2;
}
main.index section.join{
    grid-column: 1;
    grid-row: 3;
}
.newRelease{
    grid-column: 2;
    grid-row: 3;
}
main.index section.spotlight{
    grid-column: 3;
    grid-row: 1/4;
}
.spotlights{
    margin-top: 45px;
}
/* div.spotlights {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
} */
#spotlight3 {
    display: initial;
}
.join button {
    width: 100px
}

/* Directory */
div.card-view {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
}