@media only screen and (min-width: 34em) {
	
	.navigation {
		display: flex;
	}
	
	#logo {
		float: left;
		margin-left: 10px;
	}
	.navigation li {
		text-align: center;
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
		grid-column-gap: 1em;
		max-width: 675px;
		margin: auto;
	}
	.hero {
		grid-column: 1 / span 3;
	}
	.hero h2 {
		padding: 15px;
	}
	.event {
		grid-column: 1 / span 2;
		grid-row: 5;
	}
	.spotlight {
		grid-column: 1 / span 3;
		grid-row: 3;
	}
	.newRelease {
		grid-column: 1 / span 3;
		grid-row: 2;
	}
	div.spots {
		grid-template-rows: 1fr 1fr;
		display: grid;
	
	}
	.weather {
		grid-column: 3;
		grid-row: 5;
	}
	
	main.index section.join {
		grid-column: 1 / span 3;
		grid-row: 4; 
		display: initial;
		text-align: center;
		align-items: center;
		
	}
	main.index  p#joinContent {
		margin-top: 50px;
		padding: 5px
	}
	.join button{
		text-align: center;
		background-color: #e48000;
		color: white;
		width: 70%;
		padding: 10px;
		margin-top: 30px;
		cursor: pointer;
	}
	.top-footer {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.first {
		grid-column: 1;
	}
	.second {
		grid-column: 2;
		margin-top: auto;
		
	}

	/* directory */
	div.card-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
    }
	div.list-view section{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.list-view h3 {
		padding: 5px;
	}
	

}