@media only screen and (min-width: 34em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view #e48000 */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-column-gap: 1em;
	}}
	.hero {
		grid-column: 1 / span 3;
	}
	.event {
		grid-column: 1 / span 2;
		grid-row: 5;
	}
	.spotlight {
		grid-column: 1 / span 3;
		grid-row: 3;
	}
	.newRelease {
		grid-column: 1 / span 3;
		grid-row: 2;
	}
	.weather {
		grid-column: 3;
		grid-row: 5;
	}
	.join {
		grid-column: 1 / span2;
		grid-row: 4; 
		display: initial;
	}