main {
    margin: auto;
    max-width: 1000px;
}
header h1 {
    text-align: center;
    color: rgb(255, 196, 123);
}
section {
    text-align: center ;
    padding: 3px;
    background-color:rgb(147, 203, 255);
    border: 5px black;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}
section h2{
    color: rgb(255, 196, 123);
    background-color: white;
}
section:hover{
    border: 2px;
    transform: scale(1.1);
}
section img{
    max-width: 70%;
}
@media only screen and (min-width: 34em) {
    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
    }

}
@media only screen and (min-width: 800px) {
    div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}