:root {
	--back1: #88BDBC;
  --back2: #254E58;
  --accent1: #112D32;
  --accent2:  #4F4A41;
  --light2: #6E6658;
  --dark: hsla(0,0%,10%,1);
	--light: rgb(248, 248, 248);
	--border: #e48000;
	--borderlight: rgb(255, 255, 255);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--accent1);
	color: var(--light);
}
.navigation{
    padding: 0
}

.navigation li:first-child {
        display: block;
    }

.navigation li {
    display: none;
    }

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	transition: 0.5s;
	font-size: 1.3em;
}


.navigation a:hover {
	color: white;
	background-color: var(--back1);
	cursor: pointer;
}

.responsive li {
	display: block;
}
header h1{
	color: var(--light);
	font-family: Quicksand;
	max-width: 1200px;
	margin: auto;
}
figcaption {
	text-transform: capitalize;
}
.weather-icon {
	text-transform: capitalize;
}
main {
	background-color: var(--back1);
	padding: 1em;
}
p {
	font-size: 1.1em;
	font-family: BonaNova, OpenSans;
}
.home section {
	background: var(--light)
}
.hero img {
	width: 100%;
    height: auto;
}
.home section.hero {
	background-color: var(--back1);
    margin: 10px auto;
    position: relative;
}
.hero h2 { 
    position: absolute;
    padding: 10px;}
.hero button {
	position: absolute;
    background-color: var(--back2);
    color: var(--light);
    bottom:20px;
    right:20px;
    width:200px;
    height:40px;
}
.hero button:hover {
	background-color: var(--back1);
	cursor: pointer;
}
footer{
	padding: 10px;
	background-color: var(--accent1);
	color: var(--light);
	text-align: center;
}
