@media only screen and (min-width: 800px){
    .navigation {
		display: flex;
        margin: auto;
	}
    nav {
        margin: auto;
        grid-column: 3;
    }
    div.head {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr;
    }
    div.social {
        margin: auto;
        grid-column: 4;
    }
    
	.navigation li {
		text-align: center;
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
        padding: .5em;
        font-size: 1.3em;
	}
	.navigation li:first-child {
		display: none;
	}}