@media only screen and (min-width: 800px){

    .navigation {
		display: flex;
        margin: auto;
        justify-content: end;
	}
    nav {
        margin: auto;
        grid-column: 3;
    }
    div.head {
        display: grid;
        grid-template-columns: 1fr 1fr 2.5fr .5fr;
        margin-left: 25px;
        margin-right: 50px;
    }
    div.social {
        margin: auto;
        grid-column: 4;
    }
    
	.navigation li {
		text-align: center;
		display: block; 
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
        padding: 1em;
        font-size: 1.3em;
	}
	.navigation li:first-child {
		display: none;
	}}