@media only screen and (min-width: 34em) {
    div.head {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr .5fr;
        margin-left: 25px;
        margin-right: 50px;
    }
	.navigation {
		text-align: center;
		padding: 10px 0;
	}
	.social{
		padding: 10px 0;
	}
	#logo {
		float: left;
		margin-left: 10px;
	}
	main {
		grid-template-columns: .5fr 1fr;
		grid-template-rows: .75fr 1fr .5fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
	.hero {
		grid-column: 1 / span 2;
	}
	.weather{
		grid-column: 2;
		grid-row: 3;
	}
	.forecast{
		grid-column: 1;
		grid-row: 2;
	}
	.temple-home{
		grid-column: 2;
		grid-row: 2;
	}

	section.rental{
		display: block;
		text-align: center;
		background-color: var(--light2);
		border-radius: 20px;
	}
	section.rental p{
		color: var(--light);
		border-radius: 20px;
		padding: 8px;
	}

}